@import 'bulma/bulma'; // TODO: TMP


$pokedex-color: #9c2424;


h1,
h2,
h3 {
  color: white
}

.pd {
  &-body {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 60rem;

    background-color: $pokedex-color;
  }

  &-screen {
    max-height: 40rem;
    display: flex;
    flex-direction: column;
    background: rgba(90, 106, 99, 0.8);
    border: 2px solid black;
    overflow: scroll;
  }

  &-buttons {
    align-self: center;
    margin: 1.5rem 0 1rem;
  }
}
