@import 'bulma/bulma';


$pokedex-body-color: rgb(182, 58, 58);

.pokedex {
  display: flex;
  flex-direction: column;

  width: 70em;
  height: 95em;
  margin: 10vh auto 0;
  overflow: hidden;

  background-color: $pokedex-body-color;
  box-shadow: inset 0px 2px 15px 3px black;
  border-radius: 30px;
}

.pd-body {
  &--top {
    flex: 0 1 auto;
    position: relative;

    div.svg-wrapper {
      box-shadow: inset -5px 0px 11px 0px #3d2424;
      > svg {
        width: 100%;
        path {
          transform: scaleX(1.5);
          fill: none;
          stroke: rgb(37 33 33);
          stroke-width: 3px;
          filter: drop-shadow( 0px 4px 3px #333 );
        }
      }
    }

    div.lights {
      position: absolute;
      display: flex;
      width: 250px;
      height: 75px;
      top: 25px;
      left: 35px;

      &--big {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        background-color: #4085a8;
        box-shadow: inset 0px 0px 15px 2px rgb(20 189 227 / 70%);
        border: 3px solid white;
      }

      &--small {
        display: flex;
        grid-gap: 1em;
        max-width: 130px;
        margin: 0.3em 0 0 3em;

        .light {
          width: 28px;
          height: 28px;
          margin-right: 0.5em;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.5);

          background-color: var( --light-color );
          box-shadow: 0 0 2px 1px var( --light-color );

          &:nth-child( 1 ) {
            --light-color: red;
          } &:nth-child( 2 ) {
            --light-color: yellow;
          } &:nth-child( 3 ) {
            --light-color: green;
          }
        }
      }
    }
  }

  &--center {
    flex: 0 1 auto;
    padding: 3.5em 8em;
    box-shadow: -5px 0px 2px 3px rgb(60 31 31 / 61%);

    .pd-screen {
      border-radius: 5px;
      border: 5px solid black;
      box-shadow: 0 0 0px 10px rgb(229 229 229);

      > .pd-list-container {
        flex-direction: column;
        box-shadow: 0 0 0 1px white;
        overflow-y: scroll;
        border-radius: 1px;

        &::-webkit-scrollbar {
          width: 3px;
        }

        &::-webkit-scrollbar-track {
          background-color: #3b3b3b;
        }

        &::-webkit-scrollbar-thumb {
          background-color: #c09900;
          border-radius: 50px;
        }
      }
    }
  }

  &--bottom {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: flex-end;
    padding: 2em;

    div.catchem {
      align-self: flex-end;
      font-family: var( --pstp );
      font-size: 0.5em;
      color: darken( $pokedex-body-color, 15% );
    }
  }
}
