// ul
.pokemon-list {
  width: 100%;
  flex-direction: column;
  align-self: center;
  overflow: hidden;

  // li
  &__row {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0.5em 1em;

    background-color: #3a3a3a;
    border: 1px solid rgba(151, 151, 151, 0.25);
    border-left: none;
    border-right: none;
    box-shadow: rgb(162 157 155 / 8%) 0px 0px 40px 5px inset;
    transition: 0.2s background-color;

    &:hover {
      background-color: #464646;
      .poke-image {
        // justify-content: center;
        // flex-basis: 20%;
        transform: translateX( -8px );

        > img {
          transform: scale(1.05);
          // height: 100%;
        }
      }
    }

    &__contents {
      display: flex;
      justify-content: space-between;
      height: 100%;
      align-items: stretch;

      .poke-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1 50%;

        font-family: "Press Start 2P", cursive;
        text-align: left;

        span {
          color: floralwhite;

          &.name {
            font-size: 1.65em;
            font-weight: bold;
          }

          &.id,
          &.types {
            // font-family: "Press Start 2P", cursive;
            font-size: 1.2em;
          }

          &.id + span {
            margin: 0 0.75em;
          }

          &.types {
            font-style: italic;
          }
        }
      }

      .poke-image {
        display: flex;
        justify-content: flex-end;
        flex: 0 1 20%;
        // flex-grow: 0;
        // flex-shrink: 1;
        // flex-basis: 15%;
        height: 100%;
        transition: 0.2s all;

        > img {
          height: 100%;
          transition: 0.2s all;
        }
      }
    }
  }
}

