.catchem {
  color: inherit;
  font-size: 2rem;
  font-family: var( --pstp );
  text-align: center;
  animation: 500ms linear flip-in;

  &-container {
    margin: 0 0 2vh;
    color: #eb2121;
    animation: 1s cubic-bezier( 0.4, 0, 1, 1 ) unskew;
    transition: 10ms color;
  }

  @include mobile {
    font-size: 1.5rem;
    &-container {
      display: flex;
      align-items: flex-end;
      flex: 1;
      margin-bottom: 1vh;
    }
  }
}

@keyframes flip-in {
  0%, 100% {
    transform: rotateX( 0deg );
  } 50% {
    transform: rotateX( 270deg )
  }
}

@keyframes unskew {
  0% {
    transform: skewX( -20deg );
    color: green
  } 10% {
    transform: skewX( -65deg )
  } 20%, 75% {
    transform: skewX( -70deg );
    color: #4085a8;
  } 85%, 100% {
    transform: skewX( 0deg );
    color: #eb2121
  }
}
