li.list-item {
  display: flex;
  flex-direction: row-reverse;
  border: 1px dashed #978787;
  height: 5rem;
  padding: 0.5rem;

  div {
    &.pokemon-info {
      display: flex;
      justify-content: center;
      flex-direction: column;
      flex: 1 80%;

      text-align: left;

      h2.name {
        font-size: 1.75rem;
        font-weight: bold;
        color: white;
      }

      h3.id {
        font-size: 1.25rem;
        color: #494343;
      }
    }

    &.image-container {
      flex: 0 0 20%;
      border: 1px dotted chartreuse;
    }
  }
}