$poke-type-colors: (
  grass: #00a300,
  poison: #1a591a,
  fire: red,
  water: #0098d4,
  electric: #ffff00,
  ground: #836539,
  flying: #f8f6e6,
  normal: #e7e7e7,
  fighting: brown,
  bug: #9adc00,
  ice: #afe3d6,
  rock: #2e2f31,
  dark: #353f51,
  psychic: purple,
  ghost: #4a144a,
  fairy: #ffc3c6,
  dragon: #ee7722,
  steel: #4b4b4b
);
$row-bg-color: #404040;

@function get-brightness-value( $col ) {
  $r: red( $col ) * 299;
  $g: green( $col ) * 587;
  $b: blue( $col ) * 114;

  $bv: calc(( $r + $g + $b ) / 1000 );
  @return round( $bv );
}

// sets foreground color to either dark or light, determined by its contrast ratio w/ the background color
// formula based on W3C's color contrast accessibility guidelines: https://www.w3.org/TR/AERT/#color
@mixin accessible-text-color(
  $bg-color,
  $dark: #232323,
  $light: #e7e7e7
 ) {

  $bgv: get-brightness-value( $bg-color );
  $lv: get-brightness-value( $light );

  @if abs( $bgv ) < ( 0.5 * $lv ) {
    color: $light;
  } @else {
    color: $dark;
  }
}

//* STYLES ----------------------------------------

.list__row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  background-color: $row-bg-color;
  box-shadow: inset 0 0 4rem 0.5rem #a29d9b14;
  border: 1px solid rgba(151, 151, 151, 0.25);
  border-left: none;
  border-right: none;

  &,
  * {
    transition: 0.5s all;
  }

  &__contents {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 1rem;

    .poke-info { // left
      display: flex;
      flex-direction: column;
      flex: 1 50%;
      padding: 0.2em 0;
      color: floralwhite;
      font-family: var( --rubik );
      text-align: left;
      text-transform: capitalize;

      &__top {
        display: flex;
        flex: 0 1 auto;
        gap: 0.65em;

        span {
          &.name {
            font-size: 2.25em;
          } &.id {
            padding-top: 0.5em;
            font-family: var( --inter );
            font-style: italic;
            opacity: 0.75;
            color: #ddd3bf;
          }
        }
      }

      &__bottom {
        display: flex;
        flex: 1 0 auto;
        align-items: flex-end;

        > span.types {
          display: flex;
          margin-bottom: 0.25em;
          gap: 0.5em;

          .type {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 1.85em;
            margin: 0;
            font-size: 1.25em;
            font-family: var( --rubik );
            font-weight: bold;;
            border: 1px dotted;
            border-radius: 2rem;

            @each $type-name, $type-color in $poke-type-colors {
              &.#{$type-name} {
                @include accessible-text-color( $type-color );
                background-color: $type-color;
                border-color: rgba( $type-color, 0.5 );
                box-shadow: inset 0 0 10px 2px darken( $type-color, 3 );
              }
            }
          }
        }
      }

      @include mobile {
        &__top {
          span.name {
            font-size: 2.25em;
          }

          span.id {
            padding-top: 0.25em;
            font-family: inherit;
            font-style: unset;
            font-size: 1.3em;
          }

        } &__bottom {
          > span.types {
            font-size: 1em;
            gap: 0.5em;
            margin-bottom: 0.5em;

            > .type {
              height: 1.85em;
              margin-bottom: 0;
              padding: 0 0.8em;
              font-weight: bolder;
            }
          }
        }
      }
    }

    .poke-image { // right
      display: flex;
      justify-content: flex-end;
      flex: 0 1 20%;
      max-width: 8em;
      padding: 0.5em 0;
      user-select: none;

      > img:hover {
        animation: wiggle 500ms;
      }
    }
  }

  > div.loading-row {
    display: flex;
    justify-content: center;

    img.spinner {
      height: 6.5rem;
      width: fit-content;
      animation: pokeball-spin 750ms infinite cubic-bezier( 0.4, 0, 0.3, 0.85 );
    }
  }

  &:hover {
    background-color: darken( $row-bg-color, 6 );
    border-color: #d6af00;
    border-top-style: dashed;
    border-bottom-style: dashed;
    .poke-image {
      margin-right: 0.5rem;
      animation: 500ms grow;
    }
  }
}

//* animations
@keyframes wiggle {
  0%, 100% {
    transform: rotate( -5deg );
  } 20% {
    transform:scale( 1.05 )
  } 50% {
    transform: rotate( 5deg )
  } 100% {
    transform:scale( 1 )
  }
}

@keyframes grow {
  0%, 100% {
    transform: scale( 1 );
  } 50% {
    transform:scale( 1.05 );
  }
}

@keyframes pokeball-spin {
  0% {
    transform:rotate( 0deg );
  } 100% {
    transform:rotate( 360deg );
  }
}