$poke-type-colors: (
  grass: green,
  poison: #1e401e,
  fire: red,
  water: #0098d4,
  electric: #ffff00,
  ground: #836539,
  flying: #f8f6e6,
  normal: rgb(231, 231, 231),
  fighting: brown,
  bug: #9adc00,
  ice: #afe3d6,
  rock: #2e2f31,
  dark: #353f51,
  psychic: purple,
  ghost: #4a144a,
  fairy: #ffc3c6,
  dragon: #ee7722,
  steel: #4b4b4b
);

@mixin accessible-text-color( $bg-color ) {
  //* sets text to either a dark or light color, depending on the contrast w/ the background color
  // formula based on W3C's color contrast accessibility guidelines: https://www.w3.org/TR/AERT/#color
  $dark-color: #232323; $light-color: #e7e7e7;

  $bg-color-lightness: calc( ((red($bg-color) * 299) + (green($bg-color) * 587) + (blue($bg-color) * 114)) / 1000 );
  $light-color-lightness: calc( ((red($light-color) * 299) + (green($light-color) * 587) + (blue($light-color) * 114)) / 1000 );

  @if abs( round( $bg-color-lightness )) < ( round( $light-color-lightness ) * 0.5 ) {
    color: $light-color;
  } @else {
    color: $dark-color;
  }
}

.list__row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  // padding: 0.2rem 1rem 0.5rem;

  background-color: #3a3a3a;
  box-shadow: inset 0 0 4rem 0.5rem #a29d9b14;

  border: 1px solid rgba(151, 151, 151, 0.25);
  border-left: none;
  border-right: none;

  &, * { transition: 0.5s all }

  &__contents {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 0.75rem;

    .poke-info { // left
      display: flex;
      flex-direction: column;
      flex: 1 50%;
      padding: 0.2rem 0;

      color: floralwhite;
      font-family: var( --rubik );
      text-align: left;
      text-transform: capitalize;

      &__top {
        display: flex;
        flex: 0 1 auto;
        align-items: center;
        gap: 0.65rem;

        span {
          &.name {
            font-size: 2.25rem;
          } &.id {
            font-size: 1.05rem;
            font-family: var( --inter );
            font-style: italic;
            opacity: 0.75;
          }
        }
      }

      &__bottom {
        display: flex;
        flex: 1 0 auto;
        align-items: flex-end;

        > span.types {
          display: flex;
          margin-bottom: 0.5rem;
          gap: 0.5rem;

          .type {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            height: 2.1rem;
            padding: 0 0.75rem;
            font-size: 1.25rem;
            font-family: var( --rubik );
            font-weight: 500;
            border: 1px dotted;
            border-radius: 2rem;

            @each $type-name, $type-color in $poke-type-colors {
              &.#{$type-name} {
                @include accessible-text-color( $type-color );
                background-color: $type-color;
                border-color: rgba( $type-color, 0.5 );
                box-shadow: inset 0 0 10px 2px darken( $type-color, 3 );
              }
            }
          }
        }
      }
    }

    .poke-image { // right
      display: flex;
      justify-content: flex-end;
      flex: 0 1 20%;
      max-width: 8rem;
      padding: 0.5rem 0;

      > img:hover {
        animation: wiggle 500ms;
      }
    }
  }

  > div.loading-row {
    display: flex;
    justify-content: center;

    img.spinner {
      height: 6.5rem;
      width: fit-content;
      animation: pokeball-spin 750ms infinite cubic-bezier( 0.4, 0, 0.3, 0.85 );
    }
  }

  &:hover {
    background-color: #464646;
    .poke-image {
      margin-right: 0.5rem;
      animation: 500ms grow;
    }
  }
}

//* animations
@keyframes wiggle {
  0%, 100% {
    transform: rotate( -5deg );
  } 20% {
    transform:scale( 1.05 )
  } 50% {
    transform: rotate( 5deg )
  } 100% {
    transform:scale( 1 )
  }
}

@keyframes grow {
  0%, 100% {
    transform:scale( 1 )
  } 50% {
    transform:scale( 1.05 )
  }
}

@keyframes pokeball-spin {
  0% {
    transform:rotate( 0deg );
  } 100% {
    transform:rotate( 360deg );
  }
}