#app {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100vw;
  height: 100vh;

  font-family: var( --inter );
  color: var( --root-font-color );

  @include mobile {
    flex-direction: column-reverse;
    justify-content: space-between;
    padding: 1.5rem;
  }

  @include widescreen {
    max-width: $fullhd;
    margin: auto;
  }
}
