:root {
  //* base styles:
  --base-font-size: 10px;
  --base-font-color: floralwhite;
  --body-bg-color: #323232;

  //* custom fonts:
  --inter: 'Inter', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --pstp: 'Press Start 2P', cursive, sans-serif;

  background-color: var( --body-bg-color );
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-size: var( --base-font-size );
  font-family: --inter, system-ui;
  line-height: 1.5;
  color: var( --base-font-color );
}
