// @import "bulma/sass/base/minireset";
// @import "bulma/sass/utilities/_all";
@import "bulma/bulma";

:root {
  //* base styles:
  --root-font-size: 10px;
  --root-font-color: floralwhite;
  // --root-bg-color: #323232;
  --root-bg-color: rgb(196, 171, 166);

  //* custom fonts:
  --inter: 'Inter', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --pstp: 'Press Start 2P', cursive, sans-serif;

  font-size: var( --root-font-size );
  background-color: var( --root-bg-color );
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

div#root {
  display: flex;
  justify-content: center;

  max-height: 100vh;
  margin: 0 auto;
  padding: $gap;

  color: var( --root-font-color );
  font-family: var( --inter );
  line-height: 1.5;

  @include mobile {
    padding: 1rem;
  }

  @include widescreen {
    max-width: 1280px;
  }
}

::selection {
  background-color: #e01818;
}