:root {
  //* base styles:
  --root-font-size: 10px;
  --root-font-color: floralwhite;
  --root-bg: linear-gradient( 225deg, hsla(185, 41%, 84%, 1) 0%, hsla(0, 83%, 81%, 1) 100% );

  //* custom fonts:
  --inter: 'Inter', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --pstp: 'Press Start 2P', cursive, sans-serif;

  font-size: var( --root-font-size );
  background: var( --root-bg );

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: #e01818;
}