@import "bulma/sass/base/minireset";

:root {
  //* base styles:
  --root-font-size: 10px;
  --root-font-color: floralwhite;
  --body-bg-color: #323232;

  //* custom fonts:
  --inter: 'Inter', sans-serif;
  --raleway: 'Raleway', sans-serif;
  --rubik: 'Rubik', sans-serif;
  --pstp: 'Press Start 2P', cursive, sans-serif;

  font-size: var( --root-font-size );
  background-color: var( --body-bg-color );
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;

  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  max-width: 1280px;

  margin: 0 auto;
  padding: 2rem;

  font-family: var( --inter );
  color: var( --root-font-color );
  line-height: 1.5;
}

::selection {
  background-color: #9c2c2c;
}